
body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

.form {
  text-align: center;
  margin-bottom: 20px;
}

input, select, button {
  padding: 8px;
  margin: 5px;
}

.book {
  background: white;
  padding: 15px;
  margin: 10px auto;
  width: 60%;
  border-radius: 8px;
}
