body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #0A79DF;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 28px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
}

.product-card {
    background: white;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card button {
    margin-top: 10px;
    padding: 9px;
    width: 100%;
    background: #0A79DF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.product-card button:hover {
    background: #0652DD;
}

.cart-section {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

